html,body {
    height:100%
    }

    .home{
width: 100%;
height: 20vh;
}
.container{
margin: 0 auto;
padding: 50px 0;
}
.home .navbar{
display: flex;
flex-direction: row;
justify-content: center;
padding: 10px;
margin-top: 34px;
border: 2px solid white;
border-radius: 118px;
}



.home .nav_links{
display: flex;
flex-direction: row;
justify-content: space-between;
}
.home .nav_links li {
padding: 0 25px;
}
.container
{

padding: 10px;
margin-left: auto;
margin-right: auto;
border-radius: 2px;

}
a ,h1{
text-decoration: none;
color: white;
}
ul{
list-style: none;
}
.nav_links li a i{
padding-right: 7px;
color: crimson;
}


    h2 {
    margin-top: 6%;
    text-align: center;
    font-family:sans-serif;
    color:#212121;
    }
    *{
    box-sizing: border-box;
    }
    body {
    margin:0;
    background-color:#e8e8e8;
    font-family:sans-serif;
    font-weight:100;
    }
    body
{
font-family: 'Trebuchet MS';
background: #282931;
color:#fffff8;
}
.nav_links li a i{
padding-right: 7px;
color: crimson;
}
    .container {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%)
    }
    table {
    background-color: #55608f;
    border-radius:10px;
    border-collapse:collapse;
    overflow:hidden;
    box-shadow:0 0 20px rgba(0,0,0,0.1);
    background: linear-gradient(-45deg, #751313, #a71313, #a32727, #c53939);
    /* background: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5); */
    background-size: 800% 400%;
    display: inline-block;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
    }
    th,td {
    padding:15px;
    background-color:rgba(255, 255, 255, 0.2);
    color:#fff;
    }
    th {
    text-align:left;
    background-color: #6b2b2b
    }
    button {
    background-color: #fff;
    border-radius: 24px;
    border-style: none;
    box-sizing: border-box;
    color: #3c4043;
    margin-left: 10px;
    font-size: 8px;
    font-weight: 500;
    font-family: inherit;
    letter-spacing: .25px;
    line-height: normal;
    padding: 11px 24px;
    transition: background box-shadow 280ms ease;
    }
    button:hover {
    background: #F6F9FE;
    color: #a61717;
    }
    button:active {
    box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
    outline: none;
    border: 2px solid #f44242;
    }
    @keyframes gradient {
    0% {
    background-position: 0% 50%;
    }
    50% {
    background-position: 100% 50%;
    }
    100% {
    background-position: 0% 50%;
    }
    }
    #namanyay-search-btn {
    background:#ff5757;
    color:white;
    font: 'trebuchet ms', trebuchet;
    padding:10px 20px;
    border-radius:0 10px 10px 0;
    -moz-border-radius:0 10px 10px 0;
    -webkit-border-radius:0 10px 10px 0;
    -o-border-radius:0 10px 10px 0;
    border:0 none;
    font-weight:bold;
    }
    #namanyay-search-box {
    background: #eee;
    padding:10px;
    border-radius:10px 0 0 10px;
    -moz-border-radius:10px 0 0 10px;
    -webkit-border-radius:10px 0 0 10px;
    -o-border-radius:10px 0 0 10px;
    border:0 none;
    width:260px;
    margin-bottom: 10px;
    }